@model IEnumerable<First.Models.order>

@{
    ViewBag.Title = "Index";
}

<h2>WElcome @Request.Cookies["user_email"].Value.ToString()</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productquantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productquantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderId })
        </td>
    </tr>
}

</table>
